@import "../../../styles/colors";

.ms-navbar {
  opacity: 0.8;
  background-color: map-get($colors, red-accent-3);
  position: fixed;
  z-index: 900;
  height: 64px;

  &__container {
    display: flex;
    justify-content: space-between;

    position: relative;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    max-width: 1280px;

    &-logo {
      .ms-link {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
      }
    }

    &-nav {
      .nav__list {
        .nav__item {
          .nav__link {
          }
        }
      }
    }
  }
}
