*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //this defines what one rem is; 10px = 1rem; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
}

.ms-app {
  //margin-top: 64px;
  // position: relative;
  // max-width: px;
  // margin: 0 auto;
}
