@import "../../../styles/colors";

.ms-newsletter {
  padding: 1rem 2rem 2rem;

  &__heading {
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    .form__input {
      display: inline-block !important;
      box-sizing: border-box !important;
      width: auto !important;
      height: 3.6rem !important;
      border-radius: 0.25rem !important;
      background-color: map-get($map: $colors, $key: white) !important;
      padding: 0.5rem 0.75rem !important;
      margin-right: 0.5rem !important;
      margin-bottom: 0 !important;
      line-height: 1.25 !important;
      color: #495057 !important;
    }
  }
}
